<!DOCTYPE html>
<html lang="es">
			<head>
			<meta charset="UTF-8">
			<title>Pagina by:Vilte Figueroa, Alexis Gabriel Gerardo</title>
			</head>
			<body>
			<header>
				<h1>Mi primer pagina html</h1>
			</header>
			<!-- Aqui va el menu de opciones -->
			<nav>
				<ul>
					<li><a href="https://www.fi.unju.edu.ar">Fi Unju </a></li>
					<li><a href= "https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Link de programacion  </a></li>
					<li><a href= "https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML </a></li>
				</ul>
			</nav>
			<main>
			<section id="inicio">
				<h2>QUE ES UN PROGRAMADOR</h2>
				<p>Un programador es aquella persona que elabora programas de computadora​.
				Para la creación de software, los y las programadores/as utilizan lenguajes de programación, 
				que son similares a idiomas que permiten entenderse con el ordenador y escribir instrucciones 
				que generan nuevos programas.​</p>
				<h3>Docentes a cargo</h3>
				<ol>
				<li>Vega Ariel</li>
				<li>Apaza Carolina</li>
				<li>Sosa Gustavo</li>
				<li>Rodriguez Juan Carlos</li>
				</ol>
				<table>
				<tr>
				<td>Vilte</td> 
				<td>Figueroa</td> 
				<td>PROGRAMACION VISUAL</td> 	 
				<tr>
				<tr>
				<td>Alexis</td>
				<td>Gabriel</td>
				<td>Gerardo</td>
				<tr>	
				</table>
			</section>
			</main>
			<aside>
			 	<h3>Adicionales</h3>
			 	<p>Programacion visual html</p>
			 	<img alt="imagen unju" src="../static/images/unjuimagen.png">
			</aside>
			</body>
			<footer>
			<h1>alexisvilte9@gmail.com</h1>
			</footer>
			</html>