<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página by: Vilte Figueroa, Alexis Gabriel Gerardo</title>
    <link rel="stylesheet" href="../static/css/estilos.css"> 
</head>
<body>
    <header id="encabezado">
        <h1>Mi primera página html</h1>
    </header>
    <!-- Aquí va el menú de opciones -->
    <nav class="menu">
        <ul>
            <li class="menu1"><a href="https://www.fi.unju.edu.ar">Fi Unju</a></li>
            <li class="menu1"><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">Link de programación</a></li>
            <li class="menu1"><a href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML</a></li>
        </ul>
    </nav>
    <main class="main1">
        <section class="inicio">
            <h2 class="h2c">QUÉ ES UN PROGRAMADOR</h2>
            <p class="texto">Un programador es aquella persona que elabora programas de computadora​. Para la creación de software, los y las programadores/as utilizan lenguajes de programación, que son similares a idiomas que permiten entenderse con el ordenador y escribir instrucciones que generan nuevos programas.​</p>
            <h3 class="h3c">Docentes a cargo</h3>
            <ol class="ol1">
                <li>Vega Ariel</li>
                <li>Apaza Carolina</li>
                <li>Sosa Gustavo</li>
                <li>Rodriguez Juan Carlos</li>
            </ol>
            <table class="tabla">
                <tr>
                    <td>Vilte</td>
                    <td>Figueroa</td>
                    <td>PROGRAMACIÓN VISUAL</td>     
                </tr>
                <tr>
                    <td>Alexis</td>
                    <td>Gabriel</td>
                    <td>Gerardo</td>
                </tr>
            </table>
        </section>
                <section class="Universidad de jujuy">
            <h2 class="h2c">UNJu LA UNIVERSIDAD DE LOS JUJEÑOS</h2>
            <p class="texto">La Universidad Nacional de Jujuy (UNJ o UNJu) es una universidad pública argentina ubicada }
            en San Salvador de Jujuy, provincia de Jujuy. Fundada en 1973, cuenta con cuatro facultades y cinco 
            institutos, donde cursan sus carreras alrededor de 25 000 estudiantes. Hay 40 mil usuarios de alumnos en UNJu Virtual.​</p>
        </section>
                <section class="Programacion visual">
            <h2 class="h2c">La materia de programacion visual se dicta actualmente en la UNJu</h2>
            <p class="texto">En el ciclo lectivo 2024 programacion visual es una materia que se dicta en la universidad
            nacional de Jujuy, la materia se encarga de enseñar a los estudiantes a programar en java y diseñar paginas web,
             tambien enseñan el uso de gitHub, una herramienta muy necesaria para el ambito.</p>
        </section>
    </main>
    <aside class="aside1">
        <h3 class="h3c">Adicionales</h3>
        <p>Programación visual HTML</p>
        <img class="imagen" alt="imagen unju" src="../static/images/unjuimagen.png">
    </aside>
    <footer id="footer">
        <h1>alexisvilte9@gmail.com</h1>
        <a class="link" href="https://www.facebook.com/profile.php?id=100004476018508&locale=es_LA">Link Facebook</a>
    </footer>
</body>
</html>